.info {
  display: grid;
  grid-template-columns: 320px 74px;
  gap: 5px;
}

.info--text {
  margin: 0;
  padding: 8px 12px; 
}

.info--button {
  height: 41px;
  border: 1px solid #333333;
  border-radius: 5px;
  background: #050505;
  color: #ffffff;
}


